[tool.black]
line-length = 79
target-version = ['py310']
skip-string-normalization = true
exclude = '''
/(
    venv
  | \.venv
  | migrations
)/
'''

[tool.isort]
profile = 'black'
line_length = 79
multi_line_output = 3
include_trailing_comma = true
use_parentheses = true
ensure_newline_before_comments = true

sections = ['FUTURE', 'STDLIB', 'THIRDPARTY', 'FIRSTPARTY', 'LOCALFOLDER']

# Django-проект: blog/blog
known_first_party = ['blog']
default_section = 'THIRDPARTY'

skip = ['venv', '.venv', 'migrations']
